{% extends "frame.twig" %}
{% block content %}
    {% autoescape true %}
        問題一覧
        <form action="/quiz/quizzes/new" method="post" id="createQuiz">
        <table border="1" class="table table-striped">
        <thead>
            <tr>
                <th>選択</th>
                <th>タイトル</th>
                <th>問題文</th>
            </tr>
        </thead>
        <tbody>
       {% for question in question_list %}
            <tr>
                <td><input type="checkbox" class="checkbox" name="question[]" value="{{question.id}}" ></td>
                <td>{{ question['title'] }}</td><td>{{ question['content'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        <div class="question_select_error">jjj</div>
        <hr>
        <label>クイズ名</label>
        <input type="text" size="100" value="{{params.title}}" name="title" 
            placeholder="クイズ名を入力してください" class="form-control">
        <div class="text-waring" style="color: red;">{{error_list.title}}</div>
        <input type="submit" value="クイズを作成する" class="btn btn-primary" onclick="countChecked();">
        <input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}">
        </form>
        <script>
            function countChecked() {
            var n = $("input:checked").length;
            if(n != 10){
//                alert("問題を１０個選択してください。");
var a = $('div.question_select_error').val();
                alert(a); 
                event.preventDefault();
                }
            }
        </script>
    {% endautoescape %}
{% endblock %}