{% extends "frame.twig" %}
{% block content %}
    {% autoescape true %}
        <a href="/quiz/questions/new">問題を作成する</a>
        {% for question in question_list %}
            <div class="">
                <div class="">
                    {{ question['title'] }}
                    {{ question['content'] }}
                    {{ question['choice1'] }}
                    {{ question['choice2'] }}
                    {{ question['choice3'] }}
                    {{ question['choice4'] }}
                    {{ question['correct_answer'] }}
                    {{ question['created_at'] }}
                    {{ question['updated_at'] }}
                </div>
                <div class="info">
                    <span class="">
                    </span>
                    <span class="date">
                    </span>
                </div>
            </div>
        {% endfor %}
    {% endautoescape %}
{% endblock %}