{% extends "frame.twig" %}
{% block content %}
    {% autoescape true %}
        問題一覧画面<br><br>
        <a href="/quiz/questions/new">問題を作成する</a>　　　　　<a href="/quiz/quizzes">クイズ一覧を見る</a><br><br>
        
        <table border="1">
        <thead>
            <tr>
                <th>タイトル</th>
                <th>問題文</th>
                <th>選択肢１</th>
                <th>選択肢２</th>
                <th>選択肢３</th>
                <th>選択肢４</th>
                <th>正答</th>
                <th>作成日</th>
                <th>問題更新</th>
            </tr>
        </thead>
        <tbody>
        {% for question in question_list %}
            <tr>
                <td>{{ question['title'] }}</td>
                <td>{{ question['content'] }}</td>
                <td>{{ question['choice1'] }}</td>
                <td>{{ question['choice2'] }}</td>
                <td>{{ question['choice3'] }}</td>
                <td>{{ question['choice4'] }}</td>
                <td>{{ question['correct_answer'] }}</td>
                <td>{{ question['created_at'] }}</td>
                <td>
                    <form action="/quiz/questions/update" method="get">
                    <input type="submit" value="問題を更新する">
                    <input type="hidden" name="question_id" value="{{question['id']}}">
                    <input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}">
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        
    {% endautoescape %}
{% endblock %}